@font-face {
    font-family: "rubik";
    src: url(../fonts/Rubik/static/Rubik-Bold.ttf);
    font-weight: 700;
    font-family: "rubik";
    src: url(../fonts/Rubik/static/Rubik-Regular.ttf);
    font-weight: 400;
    font-family: "rubik";
    src: url(../fonts/Rubik/static/Rubik-Medium.ttf);
    font-weight: 300;
}